.celulaViva {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 7px;
    height: 7px;

    border: solid 0.1px grey;

    transition: 0.15s;
    
    background-color: black;
}

.celulaMorta {
    display: flex;
    justify-content: center;
    align-items: center;

    width: 7px;
    height: 7px;

    border: solid 0.1px grey;

    transition: 0.15s;

    background-color: white;
}

.numero {
    display: none;
}